[COMMANDS]
# Format: Action=RequiredParams|OptionalParams
# Semicolon separates multiple params; colon links a param to a hardware/numeric list
PICK=FROM:ValidStations|ARM:ValidArms;SLOTS
PLACE=TO:ValidStations|ARM:ValidArms;SLOTS
MOVE=ARM:ValidArms;R:MoveRadialMm;T:MoveThetaDeg;Z:MoveZMm;W:MoveWristDeg
HOME=|
STAT=|
CONFIG=DW|

[HARDWARE]
# Format: Key=AllowedValue1,AllowedValue2
ValidStations=LPA1,LPA2,ALIGNER,PROCESS
ValidArms=UPPER,LOWER

[NUMERIC_LIMITS]
# Format: Key=Minimum,Maximum
MoveRadialMm=0,500
MoveThetaDeg=0,360
MoveZMm=0,300
MoveWristDeg=-180,180

[STATION_ARMS]
# Format: Station=AllowedArm1,AllowedArm2
LPA1=UPPER,LOWER
LPA2=UPPER,LOWER
ALIGNER=LOWER
PROCESS=LOWER
